@import "tailwindcss";

@theme {
  --color-text: #081609;
  --color-background: #f1faf2;
  --color-primary: #6bd425;
  --color-secondary: #8adc90;
  --color-accent: #70d878;

  --color-lima: oklch(77.646% 0.22095 136.53);
  --color-lima-50: oklch(92.743% 0.07879 132.78);
  --color-lima-100: oklch(90.938% 0.09935 133.36);
  --color-lima-200: oklch(87.516% 0.13967 133.73);
  --color-lima-300: oklch(84.307% 0.17629 134.36);
  --color-lima-400: oklch(81.298% 0.20629 135.54);
  --color-lima-500: oklch(77.646% 0.22095 136.53);
  --color-lima-600: oklch(64.236% 0.18053 136.37);
  --color-lima-700: oklch(50.079% 0.138 136.02);
  --color-lima-800: oklch(35.144% 0.09228 135.62);
  --color-lima-900: oklch(18.023% 0.03741 132.62);
  --color-lima-950: oklch(0% 0 none);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pattern {
  background: white !important;
  background: url("../public/asset2.svg") repeat !important;
}

/* a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
